{{ $dfg_areas := .Params.dfg_areas }}


<div class="small text-gray-700">
  {{ range $index, $element := $dfg_areas }}
    {{ $area_nr := findRE `(\d+)` $element  1 }}
    {{ $area_title := findRE `(\D+)` $element  1 }}
    {{/* prettier-ignore-start */}}
    <strong>{{ with delimit $area_nr "" }}{{ . }}{{ end }}</strong>{{ with delimit $area_title "" }}{{ . }}{{ end }}{{ if ne (len $dfg_areas) (add $index 1) }},{{ end }}
    {{/* prettier-ignore-end */}}
  {{ end }}
</div>
