{{ $authors := .Params.authors }}


<div class="text-gray-700">
  {{ range $index, $element := $authors }}
    {{ $name := findRE `(^[^\(\)]+)` $element }}
    {{ $institution := findRE `(\(.+\))` $element }}

    {{/* This has to be in one line to prevent empty spaces */}}
    {{/* prettier-ignore-start */}}
    <strong>{{ with delimit $name "" }}{{ . }}{{ end }}</strong>{{ with delimit $institution "" }}{{ . }}{{ end }}{{ if ne (len $authors) (add $index 1) }},{{ end }}
    {{/* prettier-ignore-end */}}
  {{ end }}
</div>
