{{ define "main" }}
  <div class="container p-3 p-md-0">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h1>404 - {{ i18n "404-error-message" }}</h1>
        {{ i18n "404-advice-message" | safe.HTML }}
      </div>
    </div>
  </div>
{{ end }}