{{ define "main" }}
{{/* TODO: all day event logic */}}
{{ $start_date := (time .Params.start_date) }}
{{ $end_date := time (.Params.end_date | default .Params.start_date) }}

{{ $two_day_event := ne $end_date.Day $start_date.Day }}
{{ $month_overlap := ne $end_date.Month $start_date.Month }}
{{ $year_overlap := ne $end_date.Year $start_date.Year }}


<div class="container p-3 p-md-0">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      {{ partial "nav/breadcrumbs.html" . }}
    </div>
  </div>
  <div class="row">
    {{ partial "event/date-time.html" . }}
    <div class="col-lg-6">
      <h2 class="text-secondary">{{ .Title }}</h2>
      <div class="h5 my-2 text-gray-600">{{ .Params.location }}</div>
      {{ partial "event/mobile-date-time.html" . }}
      {{ partial "header-image.html" . }}
      <p>{{ .Content }}</p>
    </div>
    {{ partial "sidebar/sidebar-toc.html" . }}
  </div>
</div>
{{ end }}