<div class="container data-domain-links d-flex flex-column flex-xxl-row text-center mb-5">
  <div class="row">
    <div class="col">
      {{ partial "link.html" (dict "url" "ueber-uns/collections/" "text" (i18n "collections") "class" "collections d-flex bg-white justify-content-center align-items-center border border-collections rounded m-3 py-4 p-5 align-self-stretch h4 text-collections text-decoration-none") }}
    </div>
    <div class="col">
      {{ partial "link.html" (dict "url" "ueber-uns/lexikalische-ressourcen/" "text" (i18n "lexical-resources") "class" "resources d-flex bg-white justify-content-center align-items-center border border-resources rounded m-3 py-4 p-5 align-self-stretch h4 text-resources text-decoration-none") }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ partial "link.html" (dict "url" "ueber-uns/editionen/" "text" (i18n "editions") "class" "editions d-flex bg-white justify-content-center align-items-center border border-editions rounded m-3 py-4 p-5 align-self-stretch h4 text-editions text-decoration-none") }}
    </div>
    <div class="col">
      {{ partial "link.html" (dict "url" "ueber-uns/infrastructure-operations/" "text" (i18n "io-label-landing") "class" "io d-flex bg-white justify-content-center align-items-center border border-io rounded m-3 py-4 p-5 align-self-stretch h4 text-io text-decoration-none") }}
    </div>
  </div>
</div>
