{{/* params */}}
{{ $title := .Get "title" }}
{{ $content := ( $.Inner) }}

{{ $parent_id := printf "accordion-%v" .Parent.Ordinal }}

<div class="accordion-item">
  <h5 class="accordion-header py-0" id="{{ urlize $title }}-header">
    <button
      class="accordion-button collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapse-{{ urlize $title }}"
      aria-expanded="false"
      aria-controls="collapse-{{ urlize $title }}"
    >
      {{ $title }}
    </button>
  </h5>
  <div
    id="collapse-{{ urlize $title }}"
    class="accordion-collapse collapse"
    aria-labelledby="{{ urlize $title }}-header"
    data-bs-parent="#{{ $parent_id }}"
  >
    <div class="accordion-body p-4">
      {{ $content | markdownify }}
    </div>
  </div>
</div>
