{{ with resources.GetRemote "https://textplus.hypotheses.org/feed" | transform.Unmarshal }}
  {{ range first 3 .channel.item }}
    <div class="standout">
      <div class="container p-3 p-md-0">
        <div class="row mt-5">
          {{/* sidebar */}}
          <aside class="d-none d-md-block col-md-3">
            <div class="mb-2 text-muted"></div>
            <div class="d-flex flex-row justify-content-end">
              <div class="d-flex flex-column pe-4 pb-6 border-end border-secondary">
                <span>{{ .creator }}</span><br />
                <span class="small">{{ .pubDate | dateFormat "2. January 2006 15:04" }}</span><br />
              </div>
            </div>
          </aside>

          <div class="col-md-9 col-lg-6">
            <h2>
              {{ partial "link.html" (dict "url" .link "text" (.title) "class" "text-decoration-none") }}
            </h2>
            <p>{{ replaceRE "^Auth{0,1}or.*\n" "" .description | plainify | htmlUnescape }}</p>
            {{ $button_label := i18n "read-more" }}
            {{ partial "link.html" (dict "url" .link "text" $button_label "class" "btn btn-sm btn-outline-secondary float-end me-4") }}
          </div>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
