{{/* group by text plus domain (start) */}}
{{ $all_competence_centers := where .Site.Pages "Type" "competence-center" }}

{{ $centers_collections := where $all_competence_centers "Params.text_plus_domains" "intersect" (slice "Collections" "collections") }}
{{ $centers_editions := where $all_competence_centers "Params.text_plus_domains" "intersect" (slice "Editions" "editions" "Editionen" "editionen") }}
{{ $centers_resources := where $all_competence_centers "Params.text_plus_domains" "intersect" (slice "Lexical Resources" "lexical resources" "Lexikalische Ressourcen" "lexikalische ressourcen") }}
{{ $centers_io := where $all_competence_centers "Params.text_plus_domains" "intersect" (slice "Task Area Infrastructure/Operations" "Infrastructure/Operations" "Infrastruktur/Betrieb" "infrastructure/operations" "infrastruktur/betrieb") }}
{{/* group by text plus domain (end) */}}


<div class="accordion mb-2" id="accordion-competence-centers">
  <div class="accordion-item">
    <h5 class="accordion-header" id="accordion-heading-collections">
      <button
        class="accordion-button collapsed text-collections"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-body-collections"
        aria-expanded="false"
        aria-controls="accordion-body-collections"
      >
        <span
          class="rounded-circle bg-collections d-inline-block me-2"
          style="width: 26px; height: 26px"
        ></span>
        {{ i18n "collections" }}
      </button>
    </h5>
    <div
      id="accordion-body-collections"
      class="accordion-collapse collapse"
      aria-labelledby="accordion-heading-collections"
      data-bs-parent="#accordion-competence-centers"
    >
      <div class="accordion-body p-4">
        {{ partial "competence-center/accordion-content.html" (dict "center_list" $centers_collections "domain" "Collections") }}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h5 class="accordion-header" id="accordion-heading-lexical-resources">
      <button
        class="accordion-button collapsed text-resources"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-body-lexical-resources"
        aria-expanded="false"
        aria-controls="accordion-body-lexical-resources"
      >
        <span
          class="rounded-circle bg-resources d-inline-block me-2"
          style="width: 26px; height: 26px"
        ></span>
        {{ i18n "lexical-resources" }}
      </button>
    </h5>
    <div
      id="accordion-body-lexical-resources"
      class="accordion-collapse collapse"
      aria-labelledby="accordion-heading-lexical-resources"
      data-bs-parent="#accordion-competence-centers"
    >
      <div class="accordion-body p-4">
        {{ partial "competence-center/accordion-content.html" (dict "center_list" $centers_resources "domain" "Lexikalische Ressourcen") }}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h5 class="accordion-header" id="accordion-heading-editions">
      <button
        class="accordion-button collapsed text-editions"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-body-editions"
        aria-expanded="false"
        aria-controls="accordion-body-editions"
      >
        <span
          class="rounded-circle bg-editions d-inline-block me-2"
          style="width: 26px; height: 26px"
        ></span
        >{{ i18n "editions" }}
      </button>
    </h5>
    <div
      id="accordion-body-editions"
      class="accordion-collapse collapse"
      aria-labelledby="accordion-heading-editions"
      data-bs-parent="#accordion-competence-centers"
    >
      <div class="accordion-body p-4">
        {{ partial "competence-center/accordion-content.html" (dict "center_list" $centers_editions "domain" "Editionen") }}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h5 class="accordion-header" id="accordion-heading-io">
      <button
        class="accordion-button collapsed text-io"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-body-io"
        aria-expanded="false"
        aria-controls="accordion-body-io"
      >
        <span
          class="rounded-circle bg-io d-inline-block me-2"
          style="width: 26px; height: 26px"
        ></span
        >{{ i18n "io-label" }}
      </button>
    </h5>
    <div
      id="accordion-body-io"
      class="accordion-collapse collapse"
      aria-labelledby="accordion-heading-io"
      data-bs-parent="#accordion-competence-centers"
    >
      <div class="accordion-body p-4">
        {{ partial "competence-center/accordion-content.html" (dict "center_list" $centers_io "domain" "Infrastructure/Operations") }}
      </div>
    </div>
  </div>
</div>

{{ partial "link.html" (dict "url" "vernetzung/daten-kompetenzzentren/Applicants-Participants.pdf" "text" "Liste der Institutionen und Kürzel als PDF." "new_tab" "true") }}
