{{/* TODO: maybe move to form partial with type as param (support, event, user story? etc) */}}

{{ $support_js := resources.Get "js/support.ts" }}
{{/*  this allows to use values from i18n in js/ts code but the file path has to be language-specific  */}}

{{ $language_specific_js_path := printf "js/support-%s.ts" ($.Site.Param "languageHref") }}
{{ $language_specific_js := $support_js | resources.ExecuteAsTemplate $language_specific_js_path . }}
{{ $transformed_js := $language_specific_js | js.Build | resources.Minify | resources.Fingerprint }}

<script
	type="text/javascript"
	src="{{ $transformed_js.RelPermalink }}"
	integrity="{{ $transformed_js.Data.Integrity }}"
	async
	defer
></script>

<div class="row g-3 mt-5">
  <div class="col-md-6">
    <label for="event-form-name" class="form-label"
      >{{ i18n "your-name" }}<span class="text-primary"> *</span></label
    >
    <input type="text" class="form-control" id="event-form-name" />
  </div>
  <div class="col-md-6">
    <label for="event-form-email" class="form-label"
      >{{ i18n "email" }}<span class="text-primary"> *</span></label
    >
    <input type="email" class="form-control" id="event-form-email" />
  </div>
  <div class="col-md-6">
    <label for="event-form-title" class="form-label"
      >{{ i18n "event-title" }}<span class="text-primary"> *</span></label
    >
    <input type="text" class="form-control" id="event-form-title" />
  </div>
  <div class="col-md-6">
    <label for="event-form-date-time" class="form-label">
      {{ i18n "date-and-time" }}<span class="text-primary"> *</span>
    </label>
    <input type="text" class="form-control" id="event-form-date-time" />
  </div>
  <div class="col-12">
    <label for="event-form-desc" class="form-label"
      >{{ i18n "short-description" }}<span class="text-primary"> *</span></label
    >
    <textarea class="form-control" id="event-form-desc" rows="3"></textarea>
  </div>
  <div class="col-md-6">
    <label for="event-form-location" class="form-label"
      >{{ i18n "location" }}<span class="text-primary"> *</span></label
    >
    <input type="text" class="form-control" id="event-form-location" placeholder="ggf. virtuell" />
  </div>
  <div class="col-md-6">
    <label for="event-form-url" class="form-label">{{ i18n "label-url" }}</label>
    <input
      type="text"
      class="form-control"
      id="event-form-url"
      placeholder="Veranstaltungs-/Informationsseite"
    />
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="event-form-image-usable" />
      <label class="form-check-label" for="event-form-image-usable">
        {{ i18n "image-usable"}}
      </label>
      <p class="small text-gray-600">
        {{ i18n "image-disclaimer" }}
      </p>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="event-form-privacy-policy-box" />
      <label class="form-check-label" for="event-form-privacy-policy-box">
        {{ i18n "consent-info" }}{{ partial "link.html" (dict "url" "privacy-policy" "text" (i18n "privacy-policy")) }}<span class="text-primary"> *</span>
      </label>
    </div>
  </div>
  <div class="col-12">
    <button id="event-form-send-button" class="btn btn-primary float-end">
      {{ i18n "send"}}
    </button>
  </div>
</div>
<div id="support-form-error-field" class="alert alert-danger d-none mt-2"  role="alert"></div>
<div id="support-form-success-field" class="alert alert-success d-none mt-2"  role="alert"></div>