{{ $type := .Get "type" }}
{{/* allowed are: upcoming, past */}}
{{ $pages := site.Pages.ByParam "start_date" }}

{{/* past events are sorted in descending order */}}
{{ if eq $type "past"}}
  {{ $pages = (site.Pages.ByParam "start_date").Reverse }}
{{ end }}


<div class="standout">
  <div class="container p-3 p-md-0">
    {{ $displayLanguage := site.Language }}
    {{ range where (where $pages "Type" "event") "Params.hide_in_list" "!=" true }}
      {{ $date := time (.Params.end_date | default .Params.start_date ) }}
      {{ if or
        (and (eq $type "upcoming") (now.Before $date))
        (and (eq $type "past") (now.After $date))
      }}
        {{ partial "event/event-list-single-event.html" . }}
      {{ end }}
    {{ end }}
  </div>
</div>
