{{/* this shortcode basically reads all institutions in .Inner,
  populates their image, title and url into the scratchpad
  and then generates the list and the logo-grid from them
*/}}

{{/* adopted from https://stackoverflow.com/a/67066590 according to */}}

{{/* Call to .Inner needed to populate the Scratchpad */}}
{{ .Inner }}

{{/* list of institutions (just names + url) */}}
<section class="mb-5">
  <div class="row">
    {{ range $index, $element := $.Scratch.Get "institutions" }}
      <div class="col-xl-6">
        <div class="d-flex flex-column">
          <div class="p-1">
            <div class="d-flex">
              <div class="p-1 flex-grow-1">
                <strong>{{ partial "link.html" (dict "url" $element.url "text" $element.title)}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</section>

<hr />
{{/* logos */}}
<section>
  <div class="row">
    {{ range $index, $element := $.Scratch.Get "institutions" }}
      <div class="col-sm-4 col-6 mb-1 mb-sm-4 p-4 p-sm-3 d-flex justify-content-center">
        <a
          style="display: contents"
          href="{{ $element.url | safeURL }}"
          target="_blank"
          rel="noopener"
        >
          <img
            src="{{ $element.img }}"
            class="img-fluid logo-img"
            alt="Logo: {{ $element.title }}"
          />
        </a>
      </div>
    {{ end }}
  </div>
</section>
