{{ $title := .Get "title" }}

{{ $all_news_posts := where site.Pages "Type" "news" }}

{{/* workaround, should only give one result, otherwise using first as default */}}
{{ range (first 1 (where $all_news_posts ".Params.title" $title)) }}
  <div class="standout">
    <div class="container p-3 p-md-0">
      <div class="row mt-5">
        {{/* sidebar with image */}}
        <aside class="d-none d-md-block col-md-3">
          <div class="d-flex flex-row justify-content-end">
            <div class="d-flex flex-column pe-4 pb-6 border-end border-secondary">
              {{ partial "header-image.html" . }}
            </div>
          </div>
        </aside>

        <div class="col-md-9 col-lg-6">
          <a class="text-decoration-none" href="{{ .RelPermalink }}"
            ><h2 class="text-secondary">{{ .Title }}</h2></a
          >
          {{ with .Params.Date }}
            <span class="small">{{ . | dateFormat "2. January 2006 15:04" }}</span><br />
          {{ end }}
          <p class="mt-2">{{ .Summary }}{{ if .Truncated }}..{{ end }}</p>
          <a class="btn btn-sm btn-outline-secondary float-end me-4" href="{{ .RelPermalink }}">
            {{ i18n "read-more" }}
          </a>
        </div>
      </div>
    </div>
  </div>
{{ end }}
