{{/* TODO: maybe move to form partial with type as param (support, event, user story? etc) */}}

{{ $support_js := resources.Get "js/support.ts" }}
{{/*  this allows to use values from i18n in js/ts code but the file path has to be language-specific  */}}

{{ $language_specific_js_path := printf "js/support-%s.ts" ($.Site.Param "languageHref") }}
{{ $language_specific_js := $support_js | resources.ExecuteAsTemplate $language_specific_js_path . }}
{{ $transformed_js := $language_specific_js | js.Build | resources.Minify | resources.Fingerprint }}

<script
	type="text/javascript"
	src="{{ $transformed_js.RelPermalink }}"
	integrity="{{ $transformed_js.Data.Integrity }}"
	async
	defer
></script>


<div class="row g-3 mt-2">
  <div class="col-md-6">
    <label for="support-form-name" class="form-label"
      >{{ i18n "your-name" }}<span class="text-primary"> *</span></label
    >
    <input type="text" class="form-control" id="support-form-name" />
  </div>
  <div class="col-md-6">
    <label for="support-form-email" class="form-label"
      >{{ i18n "email" }}<span class="text-primary"> *</span></label
    >
    <input type="email" class="form-control" id="support-form-email" />
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label for="support-form-textplus-area">{{ i18n "topic-label" }}</label>
      <select class="form-select" id="support-form-textplus-area">
        <option value="Allgemeines">{{ i18n "drop-down-general" }}</option>
        <option value="Datendomäne Collections">{{ i18n "drop-down-collections" }}</option>
        <option value="Datendomäne Lexikalische Ressourcen">{{ i18n "drop-down-lexical-resources" }}</option>
        <option value="Datendomäne Editionen">{{ i18n "drop-down-editions" }}</option>
        <option value="Infrastruktur/Betrieb">{{ i18n "drop-down-io" }}</option>
        <option value="Technischer Support">{{ i18n "drop-down-technical-support" }}</option>
        <option value="Rechtliches und Ethisches">{{ i18n "drop-down-legal" }}</option>
      </select>
    </div>
  </div>

  <div class="col-12">
    <label for="support-form-message" class="form-label"
      >{{ i18n "label-message" }}<span class="text-primary"> *</span></label
    >
    <textarea class="form-control" id="support-form-message" rows="6"></textarea>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="support-form-privacy-policy-box" />
      <label class="form-check-label" for="support-form-privacy-policy-box">
        {{ i18n "consent-info" }}{{ partial "link.html" (dict "url" "privacy-policy" "text" (i18n "privacy-policy")) }}<span class="text-primary"> *</span>
      </label>
    </div>
  </div>
  <div class="col-12 ">
    <button id="support-form-send-button" class="btn btn-primary float-end">
      {{ i18n "send"}}
    </button>
  </div>
</div>
<div id="support-form-error-field" class="alert alert-danger d-none mt-2"  role="alert"></div>
<div id="support-form-success-field" class="alert alert-success d-none mt-2"  role="alert"></div>
