{{/* TODO: describe options/params for user documentation */}}

{{/* params */}}
{{ $name := .Inner }}
{{ $role := .Get "role" }}
{{ $img := (.Get "img" | default "/img/default_avatar.png") }}
{{ $url := .Get "url" }}
{{ $institution := .Get "institution" }}


<div class="card border-secondary" style="width: 16rem">
  <div class="px-5 pt-5 pb-4">
    <div
      class="ratio ratio-1x1 rounded-circle me-auto ms-auto border border-secondary"
      style='
        background-image: url("{{ $img }}");
        background-size: cover;
        background-position: center;'
    ></div>
  </div>
  <div class="card-body text-center">
    <div class="h5">
      <a
        href="{{ $url | safeURL }}"
        class="text-decoration-none stretched-link"
        target="_blank"
        rel="noopener"
        >{{ $name }}</a
      >
    </div>
    <div class="text-gray-700 mb-2">{{ $role }}</div>
    <small class="text-muted">{{ $institution }}</small>
  </div>
</div>
