{{/* params */}}
{{ $name := .Get "name" }}

{{/*  choose between white and gray, default to gray */}}
{{/*  TODO: consider automated alternating (e.g. based on ordinal or some kind of counter)  */}}
{{ $bg_color := cond (eq (.Get "theme") "white") "" "bg-gray-600" }}
{{ $text_color := cond (eq (.Get "theme") "white") "" "text-white" }}


<div class="standout">
  <div class="container-fluid p-4 px-lg-8 mt-5 {{ $bg_color }}">
    <h3 class="text-center mt-4 mb-3 {{ $text_color }}">{{ $name }}</h3>
    <div class="d-flex flex-md-row gap-3 justify-content-center flex-wrap">
      {{ .Inner }}
    </div>
  </div>
</div>
