<footer class="footer pt-6 mb-3 small px-4">
  <hr />
  <div
    class="d-flex flex-column flex-sm-row text-center footer-text justify-content-center gap-3 text-gray-700 pb-4 pb-sm-2"
  >
    {{ partial "link.html" (dict "url" "legal-notice" "text" (i18n "imprint")) }}
    {{ partial "link.html" (dict "url" "privacy-policy" "text" (i18n "privacy-policy")) }}
    {{ partial "link.html" (dict "url" "contact" "text" (i18n "contact-support")) }}
  </div>
  <div class="text-center text-gray-600">
    {{ i18n "license-funding-text" }}
  </div>
</footer>
