<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>{{ .Page.Title }} - {{ .Site.Title }}</title>
<meta name="dc.relation" content="{{ .Site.BaseURL }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

{{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options | resources.PostCSS | resources.Minify | resources.Fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen" />

<!-- advanced search integration -->
{{ $options := dict "config" "./config/searchintegration/postcss.config.js" "noMap" true }}
{{ $style := resources.Get "css/textplus-fcs-vuetify.css" | resources.PostCSS $options | resources.Fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen" />

<link rel="icon" href="/favicon/favicon.svg" />
<link rel="manifest" href="/favicon/manifest.json" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#cd001f" />
<meta name="msapplication-TileColor" content="#245787" />
<meta name="theme-color" content="#245787" />

{{/* TODO: consider moving to footer.html */}}
{{ $defines := dict "process.env.HUGO_ENVIRONMENT" (printf "%q" hugo.Environment) }}
{{ $js := resources.Get "js/main.ts" | js.Build (dict "defines" $defines) | resources.Minify | resources.Fingerprint }}

<script
  type="text/javascript"
  src="{{ $js.RelPermalink }}"
  integrity="{{ $js.Data.Integrity }}"
  async
  defer
></script>

<!-- advanced search integration -->
{{ $js := resources.Get "js/advancedsearch.ts" | js.Build (dict "defines" $defines) | resources.Minify | resources.Fingerprint }}

<script
  type="text/javascript"
  src="{{ $js.RelPermalink }}"
  integrity="{{ $js.Data.Integrity }}"
  async
  defer
></script>

{{ $matomo_js := resources.Get "js/matomo.js" | js.Build (dict "defines" $defines) | resources.Minify | resources.Fingerprint }}

<script
  type="text/javascript"
  src="{{ $matomo_js.RelPermalink }}"
  integrity="{{ $matomo_js.Data.Integrity }}"
  async
  defer
></script>
