{{ $imgsrc := .img }}
{{ $description := .description }}
{{ $license := .license }}
{{ $alt := .alt }}

<figure class="figure mt-2 mb-3 position-relative">
  <img src="{{ $imgsrc }}" class="figure-img img-fluid rounded" alt="{{ $alt | markdownify | plainify }}" />
  <figcaption class="figure-caption">
    {{ $description | markdownify }}
  </figcaption>
  {{ if ne $license "" }}
    <figcaption class="figure-caption pe-2 text-gray-500">
      {{ $license }}
    </figcaption>
  {{ end }}
</figure>
