{{ $all_day_event := (.Params.all_day | default false) }}
{{ $start_date := (time .Params.start_date) }}
{{ $end_date := time (.Params.end_date | default .Params.start_date) }}

{{ $two_day_event := ne $end_date.Day $start_date.Day }}
{{ $month_overlap := ne $end_date.Month $start_date.Month }}
{{ $year_overlap := ne $end_date.Year $start_date.Year }}


<aside class="d-none d-md-block col-md-3">
  <div class="d-flex flex-row justify-content-end">
    <div class="d-flex flex-column pe-4 pb-6 border-end border-secondary">
      <div class="event-datetime ms-auto text-secondary">
        <div class="h2 mb-0" aria-label="event day">
          {{ time.Format "02." $start_date }}
          {{ if $two_day_event }}- {{ time.Format "02." $end_date }}{{ end }}
        </div>
        <div class="fw-bold" aria-label="event month and year">
          {{ time.Format "January" $start_date }}
          {{ if $year_overlap }}{{ time.Format "2006" $start_date }}{{ end }}
          {{ if $month_overlap }}
          -
          {{ time.Format "January" $end_date }}
          {{ end }}
          {{ time.Format "2006" $end_date }}
        </div>
        {{ if not $all_day_event }}
          <div class="large" aria-label="event time">
            {{ time.Format "15:04" $start_date }}
            {{ if ne $start_date $end_date }}- {{ time.Format "15:04" $end_date }}{{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</aside>