{{/* TODO: all day event logic */}}
{{ $start_date := (time .Params.start_date) }}
{{ $end_date := time (.Params.end_date | default .Params.start_date) }}

{{ $two_day_event := ne $end_date.Day $start_date.Day }}
{{ $month_overlap := ne $end_date.Month $start_date.Month }}
{{ $year_overlap := ne $end_date.Year $start_date.Year }}

<div class="row mt-5">
  {{ partial "event/date-time.html" . }}
  <div class="col-md-9 col-lg-6">
    <a class="text-decoration-none" href="{{ .RelPermalink }}"><h2 class="text-secondary">{{ .Title }}</h2></a>
    <div class="h5 my-2 text-gray-600">{{ .Params.location }}</div>
    {{ partial "event/mobile-date-time.html" . }}
    {{ partial "header-image.html" . }}
    <p>{{ .Summary }}{{ if .Truncated }}..{{ end }}</p>
    <a class="btn btn-sm btn-outline-secondary float-end me-4" href="{{ .RelPermalink }}">
      Info {{ if now.Before $end_date}} & {{ i18n "registration" }} {{ end }}
    </a>
  </div>
</div>
