{{ $currentPage := . }}
{{ range .Site.Menus.main }}
  {{ if .HasChildren }}
    <li class="nav-item dropdown">
      <a
        class="nav-link"
        href="{{ .URL }}"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ .Name }}
        <i class="bi bi-chevron-down"></i>
      </a>
      <ul class="dropdown-menu ms-2 border-3 rounded-0 border-top-0 border-bottom border-primary">
        {{ range .Children }}
        <!-- search button in top navigation, needs special handling -->
          {{ if in (slice "Suche" "Search") .Name }}
            {{ partial "link.html" (dict "text" .Name "class" "dropdown-item btn-search")}}
          {{ else }}
            <li>
              {{ partial "link.html" (dict "url" .URL "text" .Name "class" "dropdown-item")}}
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </li>
  {{ else }}
    <li class="nav-item">
      {{ partial "link.html" (dict "url" .URL "text" .Name "class" "nav-link ")}}
    </li>
  {{ end }}
{{ end }}
