<div class="categorie d-flex d-inline-block border-bottom border-primary my-4">
  <span
    class="border rounded-top-left small text-primary border-bottom-0 border-primary d-inline-block px-2"
  >
    Text+ Blog
  </span>
</div>
<section class="card mb-3 text-secondary border-0 p-0" aria-label="latest blog entry">
  {{ with resources.GetRemote "https://textplus.hypotheses.org/feed" | transform.Unmarshal }}
    {{ range first 1 .channel.item }}
      <div class="card-body">
        {{ partial "link.html" (dict "url" .link "text" (.title) "class" "h5 text-decoration-none") }}
        <div class="mb-2 text-muted">
          <span>{{ .creator }}</span><br />
          <span class="small">{{ .pubDate | dateFormat "2. January 2006 15:04" }}</span><br />
        </div>
        <p class="card-text">
          {{/* removes the author line from description */}}
          {{ replaceRE "^Auth{0,1}or.*\n" "" .description | plainify | htmlUnescape }}
        </p>
      </div>
    {{ end }}
  {{ end }}

  {{ $open_blog_label := i18n "open-blog" }}
  {{ partial "link.html" (dict
    "url" "https://textplus.hypotheses.org/"
    "text" $open_blog_label
    "class" "w-100 text-end d-block text-decoration-none external-link small")
  }}
</section>
