{{/* TODO: comments */}}

{{ $all_user_stories := where (where .Site.Pages "Type" "user-story") ".Params.hide_in_list" "!=" true }}

{{ $non_empty_dfg_areas := slice }}
{{ $user_stories_dfg_areas := newScratch }}

{{/* check each user story for the dfg areas */}}
{{ range $user_story_index, $user_story_element := $all_user_stories }}
  {{/* add user story to map of dfg areas for each area */}}
  {{ range $dfg_area_index, $dfg_area_element := $user_story_element.Params.dfg_areas }}
    {{ if $user_stories_dfg_areas.Get $dfg_area_element }}
      {{ $user_stories_dfg_areas.Add $dfg_area_element $user_story_element }}
    {{ else }}
      {{ $user_stories_dfg_areas.Set $dfg_area_element (slice $user_story_element) }}
    {{ end }}

    {{/* add current dfg area to list of all areas (needed as keys for map) */}}
    {{ $non_empty_dfg_areas = $non_empty_dfg_areas | append $dfg_area_element }}
  {{ end }}
{{ end }}

{{/* remove duplicate dfg areas and sort */}}
{{ $non_empty_dfg_areas = uniq $non_empty_dfg_areas | sort }}

<div class="accordion mb-4" id="accordion-dfg-areas">
  {{ range $dfg_area_index, $dfg_area_element := $non_empty_dfg_areas }}
    <div class="accordion-item">
      <h5 class="accordion-header py-0" id="{{ urlize $dfg_area_element }}-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse-{{ urlize $dfg_area_element }}"
          aria-expanded="false"
          aria-controls="collapse-{{ urlize $dfg_area_element }}"
        >
          {{ $dfg_area_element }}
          {{ partial "user-stories/user-story-counter" (dict "len" (len ($user_stories_dfg_areas.Get $dfg_area_element)))}}
        </button>
      </h5>
      <div
        id="collapse-{{ urlize $dfg_area_element }}"
        class="accordion-collapse collapse"
        aria-labelledby="{{ urlize $dfg_area_element }}-header"
        data-bs-parent="#accordion-dfg-areas"
      >
        <div class="accordion-body p-4">
          {{ $current_dfg_areas := $user_stories_dfg_areas.Get $dfg_area_element}}
          {{ range $user_story_index, $user_story_element := $current_dfg_areas }}
            {{ partial "user-stories/accordion-user-story-entry.html" . }}
            {{ if ne (len $current_dfg_areas) (add $user_story_index 1) }}<hr />{{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
</div>
