{{ $all_user_stories := where (where .Site.Pages "Type" "user-story") ".Params.hide_in_list" "!=" true }}

{{/*  group by text plus domain (start)  */}}
{{ $user_stories_collections := slice }}
{{ $user_stories_editions := slice }}
{{ $user_stories_resources := slice }}
{{ $user_stories_comprehensive := slice }}

{{/* TODO: maybe this can be done with a where in construct, but this did not work on first try -> improve later */}}
{{ range $index, $element := $all_user_stories }}
  {{ if intersect $element.Params.text_plus_domains (slice "Collections" "collections") }}
    {{ $user_stories_collections = $user_stories_collections | append $element }}
  {{ end }}
  {{ if intersect $element.Params.text_plus_domains (slice "Editions" "editions" "Editionen" "editionen") }}
    {{ $user_stories_editions = $user_stories_editions | append $element }}
  {{ end }}
  {{ if intersect $element.Params.text_plus_domains (slice "Lexical Resources" "lexical resources" "Lexikalische Ressourcen" "lexikalische ressourcen") }}
    {{ $user_stories_resources = $user_stories_resources | append $element }}
  {{ end }}
  {{ if intersect $element.Params.text_plus_domains (slice "Comprehensive" "comprehensive" "Domänenübergreifend" "domänenübergreifend") }}
    {{ $user_stories_comprehensive = $user_stories_comprehensive | append $element }}
  {{ end }}
{{ end }}
{{/*  group by text plus domain (end)  */}}


<div class="accordion mb-4" id="accordionTextplusDomains">
  {{/* Collections */}}
  <div class="accordion-item">
    <h5 class="accordion-header" id="accordion-header-collections">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-item-collections"
        aria-expanded="false"
        aria-controls="accordion-item-collections"
      >
        {{ i18n "collections" }}
        {{ partial  "user-stories/user-story-counter" (dict "len" (len $user_stories_collections))}}
      </button>
    </h5>
    <div
      id="accordion-item-collections"
      class="accordion-collapse collapse"
      aria-labelledby="accordion-header-collections"
      data-bs-parent="#accordionTextplusDomains"
    >
      <div class="accordion-body p-4">
        {{ range $index,$element := $user_stories_collections }}
          {{ partial "user-stories/accordion-user-story-entry.html" . }}
          {{ if ne (len $user_stories_collections) (add $index 1) }}<hr />{{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  {{/* Lexical Resources */}}
  <div class="accordion-item">
    <h5 class="accordion-header" id="accordion-header-lexical-resources">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-item-lexical-resources"
        aria-expanded="false"
        aria-controls="accordion-item-lexical-resources"
      >
        {{ i18n "lexical-resources" }}
        {{ partial  "user-stories/user-story-counter" (dict "len" (len $user_stories_resources))}}
      </button>
    </h5>
    <div
      id="accordion-item-lexical-resources"
      class="accordion-collapse collapse"
      aria-labelledby="accordion-header-lexical-resources"
      data-bs-parent="#accordionTextplusDomains"
    >
      <div class="accordion-body p-4">
        {{ range $index,$element := $user_stories_resources }}
          {{ partial "user-stories/accordion-user-story-entry.html" . }}
          {{ if ne (len $user_stories_resources) (add $index 1) }}<hr />{{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  {{/* Editions */}}
  <div class="accordion-item">
    <h5 class="accordion-header" id="accordion-header-editions">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-item-editions"
        aria-expanded="false"
        aria-controls="accordion-item-editions"
      >
        {{ i18n "editions" }}
        {{ partial  "user-stories/user-story-counter" (dict "len" (len $user_stories_editions))}}
      </button>
    </h5>
    <div
      id="accordion-item-editions"
      class="accordion-collapse collapse"
      aria-labelledby="accordion-header-editions"
      data-bs-parent="#accordionTextplusDomains"
    >
      <div class="accordion-body p-4">
        {{ range $index,$element := $user_stories_editions }}
          {{ partial "user-stories/accordion-user-story-entry.html" . }}
          {{ if ne (len $user_stories_editions) (add $index 1) }}<hr />{{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  {{/* Comprehensive */}}
  <div class="accordion-item">
    <h5 class="accordion-header" id="accordion-header-comprehensive">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#accordion-item-comprehensive"
        aria-expanded="false"
        aria-controls="accordion-item-comprehensive"
      >
        {{ i18n "comprehensive" }}
      {{ partial "user-stories/user-story-counter" (dict "len" (len $user_stories_comprehensive))}}
      </button>
    </h5>
    <div
      id="accordion-item-comprehensive"
      class="accordion-collapse collapse"
      aria-labelledby="accordion-header-comprehensive"
      data-bs-parent="#accordionTextplusDomains"
    >
      <div class="accordion-body p-4">
        {{ range $index,$element := $user_stories_comprehensive }}
          {{ partial "user-stories/accordion-user-story-entry.html" . }}
          {{ if ne (len $user_stories_comprehensive) (add $index 1) }}<hr />{{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
