{{/* params passed from caller */}}
{{ $competence_centers := .center_list }}
{{ $competence_centers_domain := .domain }}

{{/*
  https://color.adobe.com/de/create/color-wheel
  - monochromatisch zu #29A900 / #E77E00 / #00A8CC
  https://maketintsandshades.com/#29A900,E77E00,00A8CC
  */}}
{{ $cluster_colors := dict
  "Collections" (dict
    "Contemporary Language" "259800"
    "Contemporary Language (Coord.)" "259800"
    "Historical Texts" "54BA33"
    "Historical Texts (Coord.)" "54BA33"
    "Unstructured Text (Coord.)" "196500")
  "Lexikalische Ressourcen" (dict
    "Born-Digital Lexical Resources" "D07100"
    "German Dictionaries in a European Context" "E98B1A"
    "Non-Latin Scripts" "A25800")
  "Editionen" (dict
    "Ancient and Medieval Texts" "0097B8"
    "Ancient and Medieval Texts (Coord.)" "0097B8"
    "Early Modern, Modern, and Contemporary Texts" "33B9D6"
    "Early Modern, Modern, and Contemporary Texts (Coord.)" "33B9D6")
}}

{{ range $index, $element := $competence_centers }}
  <article>
    <h4 id="{{ .Params.short_name }}" class="text-secondary h5">
      {{ partial "link.html" (dict "url" .RelPermalink "text" .Params.title)}}
    </h4>
    <h5 class="h5-subhead">
      {{/* hidden if no clusters in params */}}
      {{ $clusters := index .Params.text_plus_clusters $competence_centers_domain }}
      {{ $homepage_linkparams := dict "url" .Params.external_url "text" "Homepage" }}
      {{ with $clusters }}
        {{ range $cluster_index, $cluster := . }}
          {{ $cluster_color := index (index $cluster_colors $competence_centers_domain) $cluster | default "xxxx" }}
          <span class="badge me-1" style="background-color: #{{ $cluster_color }};">{{ $cluster }}</span>
        {{ end }}
        {{ $homepage_linkparams = merge $homepage_linkparams (dict "class" "text-decoration-none float-end mb-1") }}
      {{ end }}
      {{ partial "link.html" $homepage_linkparams }}
    </h5>
  </article>
  {{ if ne (len $competence_centers) (add $index 1) }}<hr style="clear: both;" />{{ end }}
{{ end }}
