<div class="d-none d-lg-block col-3">
  {{/* TEXT+ DATA DOMAINS */}}
  <aside>
    <h6 class="small text-gray-700 fw-light mb-2">{{ i18n "tplus-data-domains" }}</h6>
    <div class="d-flex flex-column gap-2">
      {{ range $index, $element := .Params.text_plus_domains }}
        {{ $classes := "btn btn-xs btn-outline-secondary text-start align-self-start" }}

        {{/* check if the data domain is one of the typical three
          data domains and apply according css classes
        */}}
        {{ if eq (lower $element) "collections" "sammlungen" }}
          {{ $classes = "collections text-collections border-collections" | printf "%s %s" $classes }}
        {{ else if eq (lower $element) "editions" "editionen" }}
          {{ $classes = "editions text-editions border-editions" | printf "%s %s" $classes }}
        {{ else if eq (lower $element) "lexical resources" "lexikalische ressourcen" }}
          {{ $classes = "resources text-resources border-resources" | printf "%s %s" $classes }}
        {{ else if eq (lower $element) "task area infrastructure/operations" "infrastructure/operations" "io" }}
          {{ $classes = "io text-io border-io" | printf "%s %s" $classes }}
        {{ end }}

        <button type="button" class="{{ $classes }}">
          {{ $element }}
        </button>
      {{ end }}
    </div>
  </aside>
</div>
