// Include any default variable overrides here (though functions won't be available)

$border-radius: 0.25rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 1rem;
$border-radius-2xl: 2rem;
$border-radius-pill: 50rem;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 5.5,
  8: $spacer * 7,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 816px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@import "roboto_local.scss";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";

$font-family-base: "Roboto Flex", sans-serif;
$line-height-base: 1.75;
$font-weight-normal: 404;

$primary: #cd0022;
$secondary: #245787;
$collections: #29a900;
$resources: #e77e00;
$editions: #00a8cc;
$io: #ffd200;

// accessible overrides of domain colors (large text (14pt bold))
// $collections: #29a900;
// $resources: #EE6000;
// $editions: #00A8CC;
// $io: #ffbc2f;
$io: #AB86F0;
// $io: #9c048d; //or maybe even purple?


// accessible overrides of domain colors
// $collections: #008900;
// $resources: #bd5b00;
// $editions: #0080a2;
// $io: #907100;

$accordion-icon-color: $secondary;
$accordion-icon-active-color: #fff;
$accordion-button-active-bg: $secondary;
$accordion-button-active-color: #fff;
$accordion-border-color: $secondary;

$nav-pills-link-active-color: #fff;
$nav-pills-link-active-bg: $secondary;
$nav-link-color: $secondary;
$nav-link-hover-color: #fff;

$input-focus-border-color: $primary;
$btn-focus-box-shadow: 0 0 0 0.25rem rgba(69, 112, 153, 0.25);

// $input-border-color: $secondary;

@import "node_modules/bootstrap/scss/bootstrap";

@import "styles.scss";
